

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position:relative;
    margin: 0 10%;
    background-color: #c8c8ff;
}
body::before{
    content: "";
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image: url('images/silvermoonhall.png');
    background-size:cover;
    background-position:center;
    filter:blur(5px);
    z-index:-1;
    transform: scale(1.1);
}

h1{
    text-align:center;
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.header{
    text-align: right;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 10px;
    padding-bottom: 20px;
    background-color: white;       
}

.header a{
    text-decoration:none;
    margin: 0% 15px;
    color: black;
    font-size:1.1em;
    font-family:cursive;
    padding: 1% 2%;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 15px;
}

.header a:hover{
    background-color: black;
    color: white;
    
    
}
.container{
    float:left;
    max-width:300px;
    margin-right:20px;
    margin-bottom:10px;
    height:auto;
}

.home{
    background-color:#8a99ec;
    padding: 15px 30px;
    margin: 50px 30%;
    border-radius: 40px;
    font-size:20px;
    margin-bottom:100px;
}

.content{
    background-color:#8a99ec;
    padding: 1px 5%;
    padding-bottom:3%;
    margin: 50px 0;
    border-radius: 20px;
    font-size:20px;
    margin-bottom:100px;
}

table {
    border-collapse:collapse;
    width: 60vh;
    background-color: #cdd6ff;
    margin-left:auto;
    margin-right:auto;
}

th, td {
    border: 3px solid #333333;
    padding: 8px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
caption{
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
}
th {
    background-color: #5d60ff;
    font-weight: bold;
    color: white
}
td a{
    text-decoration:none;
    font-weight:bold;
}

.gallery{
    max-width:55vh;
    height:auto;
    border: 1px solid black;
}
nav{
    color: #0066cc;
    bottom: 0;
}
nav a{
    text-decoration: none;  
    font-weight: bold;
    margin: 10px 10px;
}

a:hover{
    color: rgb(117, 0, 226);
}

footer{
    margin-top:10px;
    background-color: rgb(175, 175, 255);
    padding: 10px 10px;
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}



