body {
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    margin: 0 10%;
    background-color: #c8c8ff;
    min-height: 100vh;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/silvermoonhall.png');
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
    transform: scale(1.1);
}

h1 {
    text-align: center;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.header {
    text-align: right;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 10px;
    padding-bottom: 20px;
    background-color: white;

}

.header h1 {
    font-size: clamp(24px, 6vw, 32px);
}

.header a {
    text-decoration: none;
    margin: 0% 15px;
    color: black;
    font-size: clamp(16px, 1.3vw, 36px);
    font-family: cursive;
    padding: 1% 2%;
    border-radius: 15px;
    

    -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
    .header a{
        transition: background-color 0.3s, color 0.3s;
    }
    .header a:hover {
        background-color: black;
        color: white
    }
}

.header a:active {
    background-color: black;
    color: white;
}

.container {
    display: block;
    margin: 0 auto 21px auto;
    width: 100%;
    max-width: 250px;
    object-fit: cover;
}

@media(min-width: 924px) {
    .container {
        float: left;
        margin-right: 20px;
        margin-bottom: 10px;
        margin-left: 0;
    }
}

.homecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    background-color: #8a99ec;
    width: 60%;
    max-width: 90%;
    padding: 15px 30px;
    margin-top: 25px;
    border-radius: 40px;
    font-size: clamp(16px, 1.5vw, 36px);
}


.content {
    background-color: #8a99ec;
    padding: 20px 5%;
    padding-bottom: 3%;
    margin: 20px 0;
    border-radius: 20px;
    font-size: clamp(16px, 1.5vw, 36px);

}

.table-container{
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
table {
    border-collapse: collapse;
    max-width: 80%;
    background-color: #cdd6ff;
    margin-left: auto;
    margin-right: auto;
    border-collapse:collapse;
}

th,
td {
    border: 3px solid #333333;
    padding: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

caption {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
}

th {
    background-color: #5d60ff;
    font-weight: bold;
    color: white
}

td a {
    text-decoration: none;
    font-weight: bold;
}

.gallery {
    max-width: 100%;
    height: auto;
    border: 1px solid black;
}

nav {

    color: #0066cc;
    bottom: 0;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    margin: 10px 10px;
}

a:hover {
    color: rgb(117, 0, 226);
}

.content-wrapper {
    flex: 1;
}

footer {
    font-size: clamp(16px, 1.3vw, 36px);
    margin-top: 10px;
    background-color: rgb(175, 175, 255);
    padding: 10px 10px;
    width: 100%;

}

@media(min-width: 1024px) {
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
    }

    body {
        padding-bottom: 100px;
    }


}